html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f5f5f5;
}

body .form-signin{
  align-items: center;
}

#sidebar{
  min-width: 200px;
  padding-left: 5px;
  margin-left: 5px;
  max-height: 100vh;
}

#channelForm{
  display: none;
}

#channelsList{
  max-height: 70vh;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
}

#addChannel{
  margin-bottom: 5px;
}

#channelName{
  width: 85%;
}


#logoSmall{
  width: 100%;
  max-width: 280px;
  margin-bottom: 20px;
}

#channels{
  ;
}

.channel-item a{
  text-decoration: none !important;
  color: red !important;
}

.icon{
  border: none;
  background-color: white;
  color: #4E95D7;
  font-size: 18pt;
}

.error-message{
  color: red;
}

.message-item{
  border: 1px solid #4E95D7;
  border-radius: 30px 30px 5px 30px;
  background-color: #4E95D7;
  color: white;
  margin-top: 15px;
  padding: 20px 35px;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

/*Override Bootstrap styles*/

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #4E95D7;
  color: white;
  font-weight: bolder;
}

/* not working */
.table-hover, .table-hover td{
  border-bottom: 0px solid #dee2e6 !important
  border-top: 0px solid #4E95D7 !important
}
