{% extends "index.html" %}

{% block head %}
<!-- JavaScript -->
	<script type="text/javascript" src="../static/script.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
{% endblock %}

{% block body %}
<body data-gr-c-s-loaded="true">
	<div class="container-fluid col-md-3 col-3" id="sidebar"> 
		<div>
			<img class="" id="logoSmall" src="../static/media/logo-sm.jpg" alt="FLACK- a cs50w project">
			<h2 id="currentUser">{{ session.get("user").user }}</h2>
			<form id="clear-name" method="POST" action="/clear-name">
				<button type="submit" class="icon"><i class="fas fa-user-edit"></i></button>
			</form>
		</div>
		<div id="channels">
			<h3>Channels</h3>
			<button id="newChannelBtn" class="icon"><i class="fas fa-plus"></i></button>
			<div id="channelsList">
				{% if channels == None %}
				<span>Add the first channel!</span>
				{% endif %}
				<span id="infoMessage"></span>
				<form id="channelForm" onsubmit="return false;"><input id="channelName" type="text" required autofocus><button type="submit" id="save" class="icon"><i class="fas fa-save"></i></button></form>
				<table id="channelsTable" class="table table-hover">
				  <thead>
				  </thead>
				  <tbody>
				  	{% for channel in channels|sort(attribute='name') %}
				  	<tr><td data-channel="{{ channel['name'] }}">
				  		<a class="channel-item" title="Click to show messages" data-channel="{{ channel['name'] }}"
 href="#">{{ channel['name'] }}</a>
						<div class="newMessagesCounter">
						</div>
					</td></tr>
				  	{% endfor %}
				  </tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="channel-content" class="container-fluid col-md-9 col-9">
		<div class="error-message">
			<h2 id="systemMessage"></h2>
		</div>
		<div>
			<h2 id="current-channel"></h2>
			<span id="channel-details"></span>
		</div>
		<div id="messages">
			<!--
			<div class="message-item">
				<div class="message-details">
					<div class="display-name">FLACKBOT says:	
					</div>
					<span class="message-timestamp">Sun, 11 Aug 2019 20:36:30 GMT</span>
				</div>
				<div class="message-text">
					<i class="fas fa-quote-left"></i>Lorem ipsum!
					<i class="fas fa-quote-right"></i>
				</div>

			</div>-->
		</div>
		<div id="messageForm">
			<form id="add-message" onsubmit="return false;" tabindex="-1">
				<input id="new-message" type="text" required>
				<button id="newMessageBtn" class="icon" type="submit"><i class="fas fa-paper-plane"></i></button>
			</form>
		</div>
	</div>
</body>
{% endblock %}