{% extends "index.html" %}

{% block head %}
<!-- JavaScript -->
	<script type="text/javascript" src="../static/script.js"></script>
{% endblock %}

{% block body %}
<body data-gr-c-s-loaded="true">
	<div class="container-fluid col-md-3 col-12" id="sidebar"> 
		<div>
			<img class="" id="logo-small" src="../static/media/logo-sm.jpg" alt="FLACK- a cs50w project">
		</div>
		<div id="channels">
			<h3>Channels</h3>
			<form id="add-channel">
				<button id="new-channel" class="icon"><i class="fas fa-plus"></i></button>
			</form>
			<div id="channels-list">
				<span>Add the first channel!</span>
				<table id="channels-table" class="table table-hover">
				  <thead>
				  </thead>
				  <tbody>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="container-fluid col-md-9 col-12">
		<div>
			<h2 class="">{{ session.get("user") }}</h2>
			<form method="POST" action="/clear-name">
				<button type="submit" class="icon"><i class="fas fa-user-edit"></i></button>
			</form>
		</div>
	</div>
</body>	
{% endblock %}