{% extends "index.html" %}

{% block head %}
<!-- JavaScript -->
	<script type="text/javascript" src="../static/script.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
{% endblock %}

{% block body %}
<body data-gr-c-s-loaded="true">
	<div class="container-fluid col-md-3 col-12" id="sidebar"> 
		<div>
			<img class="" id="logoSmall" src="../static/media/logo-sm.jpg" alt="FLACK- a cs50w project">
		</div>
		<div id="channels">
			<h3>Channels</h3>
			<button id="newChannelBtn" class="icon"><i class="fas fa-plus"></i></button>
			<div id="channelsList">
				{% if channels == None %}
				<span>Add the first channel!</span>
				{% endif %}
				<span id="infoMessage"></span>
				<form id="channelForm" onsubmit="return false;"><input id="channelName" type="text" required autofocus><button type="submit" id="save" class="icon"><i class="fas fa-save"></i></button></form>
				<table id="channelsTable" class="table table-hover">
				  <thead>
				  </thead>
				  <tbody>
				  	{% for channel in channels|sort(attribute='name') %}
				  	<tr><td><a class="channel-item" title="Click to show messages"
 href="#" onclick="showChannel();return false;">{{ channel['name'] }}</a></td></tr>
				  	{% endfor %}
				  </tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="container-fluid col-md-9 col-12">
		<div>
			<h2 class="">{{ session.get("user") }}</h2>
			<form method="POST" action="/clear-name">
				<button type="submit" class="icon"><i class="fas fa-user-edit"></i></button>
			</form>
			<h2>in Channel Name here :P</h2>
		</div>
	</div>
</body>	
{% endblock %}