<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/styles.css">

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<!--Favicon-->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" 
	type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"
	type="image/x-icon">

	<!--FontAwsome-->
	 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<title>FLACK &#128521;</title>

	<!-- JavaScript -->
	<script type="text/javascript" src="../static/script.js"></script>
</head>
{% block body %}

{% endblock %}
</html>